//主题颜色
$bgcolor:#dd001b;
//圆角
$imgBorderRadius:0.11rem;
//图标宽度
$iconWidth:1rem;
//图标下方文本大小
$iconText:0.24rem;

//flex
$flex:(
    start:flex-start,
    end:flex-end,
    center:center,
    between:space-between,
    around:space-around
)

